@import './variables'
    
*
    padding: 0
    margin: 0

html, body
    height: 100%

.container-d
    max-width: 77%
    margin: 0 auto

body
    font-size: 1em
    min-width: 320px
    position: relative
    line-height: 1.65
    font-family: 'Inter', sans-serif
    overflow-x: hidden
    opacity: 1
    background-color: $mainColor

a
    text-decoration: none

li
    list-style: none

header
    height: 50px
    background-color: $footer
    

    .logo
        padding-top: 12px

    .container-d
        display: flex
        align-items: center
        font-size: 1em

        .menu-top
            display: flex
            align-items: center
            margin-left: 18%

            a
                margin-right: 40px
                font-weight: bold
                color: $textColor
                &:hover
                    color: $secondColor
                    padding-bottom: 1px
                    transition: .1s
                    border-bottom: 2px solid $secondColor
        
        .btns
            margin-left: 13%
            a
                font-weight: bold
                color: $textColor
                padding: 5px
                &:first-child
                    margin-right: 30px

                &:hover
                    background-color: $secondColor
                    border: 2px solid $secondColor
                    border-radius: 5px
                    transition: .1s
        
.welcome
    height: 100vh
    .image
        position: absolute
        z-index: -1
        margin-top: -50px
        width: 100%
        img
            width: 100%

        

    .container-d
        padding-top: 5%

        h2
            max-width: 48%
            text-align: center
            padding-left: 31px
            color: $textColor
            font-size: 4em
            line-height: 1
            text-shadow: 3px 3px 2px $secondColor

        p
            max-width: 48%
            text-align: center
            margin-bottom: 30px
            color: $textColor
            font-weight: bold
            padding: 14px 31px 14px 31px
            background-color: rgba(212, 35, 241, 0.2)
            border: 3px solid $secondColor
            text-shadow: 1px 2px $footer

        a
            max-width: 48%
            text-align: center
            padding: 19px 16px 19px 16px
            font-size: 1.5em
            font-weight: bold
            border: 3px solid $secondColor
            color: $secondColor
            border-radius: 5px
            margin-left: 14%
            &:hover
                border: 3px solid $textColor
                color: $textColor
                transition: .1s

.container-d
    h2
        font-size: 3em
        color: $textColor
        text-align: center
    .testimonials
        position: relative
        margin-top: 20px

        .wrapper
            // display: grid
            // grid-template-columns: repeat(4, 2fr)
            display: flex
            justify-content: space-between
            margin-top: 40px

            .testimonials-item
                height: 520px
                width: 255px
                border: 2px solid $secondColor
                border-radius: 30px


                .comment
                    font-size: 0.875em
                    color: $textColor
                    font-weight: bold
                    padding: 0px 17px 0px 17px
                    line-height: 1.5
                    text-align: center

                h1
                    font-size: 1.5em
                    color: $secondColor
                    text-align: center
                    padding: 0px 17px 0px 17px

                .image
                    text-align: center
                    margin-top: 10px


    .line
        width: 100%
        height: 3px
        margin-top: 20px
        margin-bottom: 20px
        background-color: $secondColor

    .why-people-choose
        .block
            display: flex
            width: 100%
            .image
                text-align: right
                margin-top: 50px
                margin-left: 10%
        
        .fact
            display: flex
            align-items: center
            margin-top: 50px
            h1
                color: $secondColor
                font-weight: bold
                margin-left: 20px
            
            &:last-child
                h1
                    line-height: 1


    .plan
        display: grid
        grid-template-columns: auto auto auto auto
        margin-top: 40px

        .element
            margin-left: 15%
            text-align: center
            &:first-child
                margin-left: 0

            h1
                font-size: 1.5em
                color: $secondColor
            
            p
                color: $textColor
                font-weight: bold

    .form
        width: 920px
        height: 338px
        background-color: $secondColor
        border-radius: 20px
        margin: 0 auto


        .actions
            display: flex
            justify-content: center
            .inputs
                margin-right: 5%
                .name
                    width: 338px
                    height: 35px
                    padding-bottom: 25px

                    input
                        width: 100%
                        height: 100%
                        padding: 12px 20px
                        margin: 8px 0
                        border: none
                        border-radius: 8px
                        box-sizing: border-box
                        font-weight: bold
                        color: $footer
                
                .button
                    width: 185px
                    height: 50px
                    background-color: $mainColor
                    border-radius: 7px
                    display: flex
                    justify-content: center
                    align-items: center
                    a
                        font-size: 1.5em
                        font-weight: bold
                        color: $textColor
                        
                        

            textarea
                width: 380px
                padding: 12px 20px
                margin: 8px 0
                border: none
                border-radius: 8px
                box-sizing: border-box
                font-weight: bold
                color: $footer
                resize: none


footer
    margin-top: 20px
    height: 145px
    width: 100%
    background-color: $footer
    .container-d
        h2
            font-size: 1.5em
            margin-bottom: 15px
    .logos
        display: flex
        justify-content: space-between
        align-items: center